/* 2 */
html {
  font-family: 'Orbitron', sans-serif;
}

/* 3 */
span {
  font-weight: bold;
  /* font-weight: 700; */
}

h1 {
  /* 4 */
  font-size: 50px;
  /* 5 */
  letter-spacing: 10px;
  /* 6 */
  text-align: center;
  /* 7 */
  text-transform: uppercase;
  /* 8 */
  text-decoration: underline;
}

/* 9 */
#series-movies {
  font-size: 20px;
}

/* 10 */
h2 {
  font-size: 2em;
}

/* 11 */
li {
  line-height: 2;
}

/* 12 */
#characters {
  font-size: 18px;
}

/* 13 */
h4 {
  letter-spacing: 15px;
}